<div class="container">
  <div>
    <%= image_tag @customer.get_bike_image(400,400) %>
    <p>名前<%= @customer.name %></p>
    <p>自己紹介<%= @customer.description %></p>
    <% if @customer == current_customer %>
      <p><%= link_to"編集",edit_public_customer_path(current_customer.id) %></p>
      <p><%= link_to"退会",unsubscribe_path(@customer.id) %></p>
    <% end %>

    <p>フォロー数:<%= @customer.follow_user.count %> / フォロワー数:<%= @customer.follower_user.count %></p>
    <% unless @customer == current_customer %>
      <% if @customer.follow_user_by(current_customer) %>
        <p><%= link_to"解除",public_customer_relationships_path(@customer.id),method: :delete,class:"btn btn-danger" %></p>
      <% else %>
        <p><%= link_to"フォロー",public_customer_relationships_path(@customer.id),method: :post,class:"btn btn-success" %></p>
      <% end %>
    <% end %>

  </div>

  <div>
    <h3>いいね一覧</h3>
    <table class="table">
       <tr>
         <td>駐車場名</td>
         <td>説明</td>
         <td>目的地(商業施設、コンビニ等)</td>
       </tr>
       <% @customer.favorite_park.each do |park| %>
       <tr>
         <td>
           <%= link_to public_park_path(park.id) do %>
             <%= park.name %>
           <% end %>
         </td>
         <td><%= park.description %></td>
         <td><%= park.purpose %></td>
       </tr>
       <% end %>
      </table>
  </div>


</div>