<div class="container">
  <div class="text-center">
      <%= image_tag @customer.get_bike_image(400,400) %>
    <p>名前：<%= @customer.name %></p>
    <p>自己紹介：<%= @customer.description %></p>
    <% if @customer == current_customer %>
      <p>
        <% if @customer.name != "guestuser" %>
          <%= link_to"編集",edit_public_customer_path(current_customer.id),class:"btn btn-success" %>
          <%= link_to"退会",unsubscribe_path(@customer.id),class:"btn btn-danger" %>
        <% end %>
      </p>
    <% end %>
    <div id="relationship_btn">
      <%= render "public/relationships/relationship",customer: @customer %>
    </div>
    <div>
      <h5>お気に入りの画像を公開しよう！(！！3枚まで)</h5>
      <p>※一度に複数選択することで、複数画像選択することができます</p>
      <div class="my_bike">
        <%= form_with model: @customer,url: public_customer_path(@customer.id),method: :patch do |f| %>
            <%= f.label :my_bike_images do %>
              <%= f.file_field :my_bike_images,multiple:true,accept:"image/jpg",class:"uploader",style: "display:none" %>
              <% if @customer.my_bike_images.attached? %>
                <% @customer.my_bike_images.each_with_index do |image,i| %>
                   <%= image_tag(image, width:150,height:150,class: "avatar#{i+1}") %>
                <% end %>
                <% if @customer.my_bike_images.length == 1 %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar2') %>
                　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
                <% elsif @customer.my_bike_images.length == 2 %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
                <% end %>
              <% else %>
              　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar1') %>
              　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar2') %>
              　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
              <% end %>
            <% end %>
            <%= f.hidden_field :name %>
            <%= f.submit"変更" %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="pb-4">
    <h3>いいね一覧</h3>
    <table class="table table-striped table-hover">
         <tr>
           <th style="width: 20%">駐車場名</th>
           <th style="width: 50%">説明</th>
           <th style="width: 30%">目的地(商業施設等)</th>
         </tr>
         <% if @customer.favorite_park.present? %>
           <% @customer.favorite_park.each do |park| %>
           <tr>
             <td>
               <%= link_to public_park_path(park.id) do %>
                 <%= park.name %>
               <% end %>
             </td>
             <td><%= park.description %></td>
             <td><%= park.purpose %></td>
           </tr>
           <% end %>
         <% else %>
           <tr>
             <td class="text-center">いいねなし</td>
           </tr>
         <% end %>
      </table>
  </div>

  <div>
    <h3>投稿一覧</h3>
    <table class="table table-striped table-hover">
       <tr>
         <th style="width: 20%">駐車場</th>
         <th style="width: 50%">説明</th>
         <th style="width: 30%">目的地(商業施設等)</th>
       </tr>
       <% if @customer.parks.present? %>
       <% @customer_park.each do |park| %>
       <tr>
         <td>
           <%= link_to public_park_path(park.id) do %>
             <%= park.name %>
           <% end %>
         </td>
         <td><%= park.description %></td>
         <td><%= park.purpose %></td>
       </tr>
       <% end %>
       <% else %>
           <tr>
             <td class="text-center">投稿なし</td>
           </tr>
         <% end %>
      </table>
      <%= paginate @customer_park %>
  </div>
</div>

<%= javascript_pack_tag 'customer/show' %>