<div class="container mt-3">
  <div class="row ">
    <div class="col-md-6">
      <% if @customer.bike_image.attached? %>
        <%= image_tag(@customer.bike_image,class:"customer_image") %>
      <% else %>
        <%= image_tag('my_page.jpg', class: 'customer_image') %>
      <% end %>
    </div>
    <div class="col-md-6 customer_profile pb-3" >
      <table class="table text-center">
        <tr>
          <th>名前</th>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @customer.description %></td>
        </tr>
        <tr>
          <td colspan="2">
            <div id="relationship_btn">
              <%= render "public/relationships/relationship",customer: @customer %>
            </div>
          </td>
        </tr>
      </table>

      <% if @customer == current_customer %>
        <p class="customer_fix">
          <% if @customer.name != "guestuser" %>
            <%= link_to"編集",edit_public_customer_path(current_customer.id),class:"btn btn-success" %>
            <%= link_to"退会",unsubscribe_path(@customer.id),class:"btn btn-danger" %>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="text-center mt-5 mb-5">
    <%= render "layouts/error" %>
    <% if @customer == current_customer %>
      <h5>お気に入りの画像を公開しよう！(！！3枚まで)</h5>
      <p>※一度に複数選択することで、複数画像選択することができます</p>

      <%= form_with model: @customer,url: public_customer_path(@customer.id),method: :patch do |f| %>
        <div class="my_bike">
          <%= f.file_field :my_bike_images,multiple:true,accept:"image/jpg",class:"uploader",style: "display:none" %>
            <% if @customer.my_bike_images.attached? %>
              <% @customer.my_bike_images.each_with_index do |image,i| %>
                <%= f.label :my_bike_images,class:"my_bike_label" do %>
                  <%= image_tag(image, width:150,height:150,class: "avatar#{i+1}") %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: "avatar#{i+4}",style: "display: none") %>
                <% end %>
              <% end %>

              <% if @customer.my_bike_images.length == 1 %>
                <%= f.label :my_bike_images,class:"my_bike_label" do %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar2') %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar5',style: "display: none") %>
                <% end %>
                <%= f.label :my_bike_images,class:"my_bike_label" do %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar6',style: "display: none") %>
                <% end %>

              <% elsif @customer.my_bike_images.length == 2 %>
                <%= f.label :my_bike_images,class:"my_bike_label" do %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar6',style: "display: none") %>
                <% end %>
              <% end %>

            <% else %>
              <%= f.label :my_bike_images,class:"my_bike_label" do %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar1') %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar4',style: "display: none") %>
              <% end %>
              <%= f.label :my_bike_images,class:"my_bike_label" do %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar2') %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar5',style: "display: none") %>
              <% end %>
              <%= f.label :my_bike_images,class:"my_bike_label" do %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar6',style: "display: none") %>
              <% end %>
            <% end %>
          <%= f.hidden_field :name %>
        </div>
        <br><%= f.submit"保存",class:"btn btn-success" %>
      <% end %>

    <% else %>
      <h4><%= @customer.name %>さんのお気に入り写真</h4>
      <div class="my_bike">
        <% if @customer.my_bike_images.attached? %>
          <% @customer.my_bike_images.each do |image| %>
            <%= image_tag(image, width:150,height:150) %>
          <% end %>
          <% if @customer.my_bike_images.length == 1 %>
            <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150") %>
            <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150") %>
          <% elsif @customer.my_bike_images.length == 2 %>
            <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150") %>
          <% end %>
        <% else %>
          <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150") %>
          <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150") %>
          <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150") %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="pb-4">
    <h3>いいね一覧</h3>
    <div id="customer_parks_like_btn">
      <%= render "public/customers/like_park", customer_park: @like_park %>
    </div>

  </div>

  <div>
    <h3>投稿一覧</h3>
    <div id="customer_parks_btn">
      <%= render "public/customers/park_index", customer_park: @customer_park %>
    </div>
  </div>
</div>

<% if @customer == current_customer %>
  <%= javascript_pack_tag 'customer/show' %>
<% end %>
