<% flash.each do |message_type, messages| %>
    <% if messages.class == Array %>
      <% messages.each do |message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <% else %>
        <div class="alert alert-<%= message_type %>"><%= messages %></div>
  <% end %>
<% end %>

<table class="table text-center">
<% park_comments.each do |list| %>
  <tr>
    <% if list.customer.is_deleted == false %>
      <td style="width: 20%">
        <%= image_tag list.customer.get_bike_image(50,50) %><br>
        <%= list.customer.name %>
      </td>
      <td style="width: 80%"><%= list.comment %></td>
    <% end %>
  </tr>
<% end %>
</table>
<div class="text-center mb-3">
  <%= form_with model:  park_comment,url: public_park_comments_path(park_area.id),local: false do |f| %>
    <%= f.text_field :comment %>
    <%= f.submit"送信",class:"btn btn-success" %>
  <% end %>
</div>

