<% customer.follower_user.each do |customers| %>
    <tr>
      <td>
        <%= link_to public_customer_path(customers.id) do %>
          <%= image_tag customers.get_bike_image(100,100) %>
        <% end %>
      </td>
      <td><%= customers.name %></td>
      <td>
        <% if customer == current_customer %>
          <% if customers.follow_user_by(current_customer) %>
            <%= link_to"解除",public_customer_relationships_path(customers.id),method: :delete,remote: true,class:"btn btn-danger" %>
          <% else %>
            <%= link_to"フォロー",public_customer_relationships_path(customers.id),method: :post,remote: true,class:"btn btn-success" %>
          <% end %>
        <% end %>
      </td>
   </tr>
 <% end %>