<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <h3>会員情報編集</h3>
      <%= form_with model: @customer,url: admin_customer_path(@customer.id) do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name,class:"form-control" %><br>
        <%= f.label :description %><br>
        <%= f.text_area :description,rows: 3,class:"form-control" %><br>
        <label>会員ステータス</label><br>
        <%= f.radio_button :is_deleted, :true %>
        <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :is_deleted, :false %>
        <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
        <p><%= f.submit"変更",class:"btn btn-success" %></p>
      <% end %>
    </div>
  </div>
</div>