<div class="container">
  <div>
      <%= image_tag @customer.get_bike_image(400,400) %>
    <p>名前：<%= @customer.name %></p>
    <p>自己紹介：<%= @customer.description %></p>
    <p>会員ステータス：<%= @customer.customer_status %></p>
      <p>
        <%= link_to"編集",edit_admin_customer_path(@customer.id),class:"btn btn-success" %>
      </p>
  </div>
  <div>
    <h3>投稿一覧</h3>
    <table class="table table-striped table-hover">
       <tr>
         <th style="width: 20%">駐車場名</th>
         <th style="width: 50%">説明</th>
         <th style="width: 30%">目的地(商業施設等)</th>
       </tr>
       <% if @customer.parks.present? %>
       <% @customer_park.each do |park| %>
       <tr>
         <td>
           <%= link_to public_park_path(park.id) do %>
             <%= park.name %>
           <% end %>
         </td>
         <td><%= park.description %></td>
         <td><%= park.purpose %></td>
       </tr>
       <% end %>
       <% else %>
           <tr>
             <td class="text-center">投稿なし</td>
           </tr>
         <% end %>
      </table>
  </div>
</div>