<table class="table text-center">
  <tr>
    <td style="width: 20%">駐車場名</td>
    <td style="width: 40%">説明</td>
    <td style="width: 20%">目的地</td>
    <td style="width: 20%">投稿者</td>
  </tr>
<% parks.each do |park| %>
  <tr>
    <td >
      <%= link_to admin_park_path(park.id) do %>
       <%= park.name %>
      <% end %>
    </td>
    <td><%= park.description %></td>
    <td><%= park.purpose %></td>
    <td><%= park.customer.name %><br><%= park.customer.customer_status %></td>
  </tr>
<% end %>
</table>
<%= paginate parks %>