<div class="container">
  <div class="row">
    <div class="col-6">
      <div id="map" style="width:100%; height:600px"></div>
    </div>
    <div class="col-6 show_detail">
      <% if @park.images.attached? %>
        <% @park.images.each do |image| %>
          <%= image_tag(image, width:150,height:150) %>
        <% end %>
        <!--投稿画像がなかったら、サンプリ画像を表示-->
      <% else %>

      <% end %>

      <table class="table">
       <table class="table text-center table-striped">
          <tr>
            <th style="width: 20%">駐車場名</th>
            <td style="width: 80%"><%= @park.name %></td>
          </tr>
          <tr>
            <th>説明</th>
            <td><%= @park.description %></td>
          </tr>
          <tr>
            <th>住所</th>
            <td><%= @park.addressOutput %></td>
          </tr>
          <tr>
            <th>駐車可能条件</th>
            <td><%= @park.spec_i18n %></td>
          </tr>
          <tr>
            <th>金額</th>
            <td><%= @park.price %>円 / <%= @park.parking_time %>時間</td>
          </tr>
          <tr>
            <th>目的地</th>
            <td><%= @park.purpose %></td>
          </tr>
          <tr>
            <th>投稿者</th>
            <td>
              <% if @park.customer.is_deleted == false %>
                <%=  image_tag @park.customer.get_bike_image(100,100) %>
                <%= link_to public_customer_path( @park.customer.id) do %>
                  <%=  @park.customer.name %>
                <% end %>
              <% else %>
                <p class="text-danger">退会済みです。何かありましたら、お問合わせページより問い合わせください</p>
              <% end %>
            </td>
          </tr>
      </table>

      <%= link_to"削除",admin_park_path(@park.id),method: :delete,class:"btn btn-danger delete_btn" %>
    </div>
  </div>
  <div id="comment_btn">
    <h3>コメント</h3>
      <table class="table">
      <% @park_comments.each do |list| %>
        <tr>
          <% if list.customer.is_deleted == false %>
            <td>
              <%= image_tag list.customer.get_bike_image(50,50) %><br>
              <%= list.customer.name %>
            </td>
             <td><%= list.comment %></td>
             <td><%= link_to"削除",admin_park_comment_path(list.park.id,list.id),method: :delete,class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      <% end %>
      </table>
      <%= paginate @park_comments %>

  </div>
</div>



<input type="hidden" id="park_area_lat" value="<%= @park.lat %>">
<input type="hidden" id="park_area_lng" value="<%= @park.lng %>">

<script>
$(function(){
   function initMap() {

      var lat =document.getElementById("park_area_lat").value
    　var lng =document.getElementById("park_area_lng").value
      // /18行目が初期マップ位置の拡大状況・19行目が緯度経度で福岡市を表示させる様にしている/
      var opts = {
        zoom: 15,
        center: new google.maps.LatLng(lat,lng),
        restriction: {
		　   　latLngBounds: {
		　   　	north: 33.600947,
		　   　	south: 33.577563,
		　　    	west: 130.386021,
		　　	      east: 130.440347
	　          },
	　　	strictBounds: true
　　    }
      };

      var map = new google.maps.Map(document.getElementById("map"), opts);

      //変数lat/lngを宣言し、park_area_lat/lng(ID)のValue値を取得
      var lat =document.getElementById("park_area_lat").value
    　var lng =document.getElementById("park_area_lng").value
      // LatLng(,)に19/20行目で取得した緯度経度を入れる。
      var m_latlng = new google.maps.LatLng(lat,lng);
      var marker = new google.maps.Marker({
   　   　　 position: m_latlng,
      　    map: map
      });
    }
  initMap();
});
 </script>