<div class="container">
  <h1>編集画面</h1>
  <div id="map" style="width:100%; height:600px"></div>

  <%= render "layouts/error" %>

  <%= form_with model: @park,url: public_park_path(@park.id),method: :patch do |f| %>
  <table class="table">
      <tr>
          <td>Choose file(３枚まで)</td>
          <td><%= f.file_field :images,multiple:true,accept:"image/jpg" %></td>
      <tr>
           <td>駐輪場名</td>
           <td><%= f.text_field :name,class:"form-control" %></td>
      </tr>
      <tr>
           <td>説明事項</td>
           <td><%= f.text_area :description,class:"form-control" %></td>
      </tr>
      <tr>
           <td>駐車可能条件</td>
           <td><%= f.collection_radio_buttons :spec, Park.specs_i18n, :first , :last %></td>
      </tr>
      <tr>
          <td>目的地</td>
          <td><%= f.text_field :purpose,class:"form-control" %></td>
      </tr>
      <tr>
           <td>金額</td>
           <td><%= f.text_field :price %> / <%= f.select :parking_time,*[1..24] %>時間</td>
      </tr>
           <%= f.hidden_field :lat,value: @park.lat %>
           <%= f.hidden_field :lng,value: @park.lng %>
           <%= f.hidden_field :addressOutput,value: @park.addressOutput %>
           <%= fields_for :vicinity do |f| %>
             <%= f.hidden_field :vicinity_name,value: @park.park_vicinity.pluck(:vicinity_name) %>
           <% end %>
    </table>
    <div class="text-center">
           <%= f.submit"送信",class:"btn btn-success" %>
    </div>
  <% end %>

</div>

<!--コントローラから渡された編集するparkの情報をjavascriptにわたすための記述-->
<input type="hidden" id="serve_park_lat" value='<%= @park.lat %>'>
<input type="hidden" id="serve_park_lng" value='<%= @park.lng %>'>

  <script>
$(function(){
  function initMap() {
    // /43行目が初期マップ位置の拡大状況・44行目が緯度経度で福岡市を表示させる様にしている/
   var opts = {
     zoom: 15,
     center: new google.maps.LatLng(33.589815,130.412306),
     restriction: {
		　　latLngBounds: {
		　　	north: 33.600947,
		　　	south: 33.577563,
		　　	west: 130.386021,
		　　	east: 130.440347
	　 },
	　　	strictBounds: true
　　 }
   };

   var map = new google.maps.Map(document.getElementById("map"), opts);

   var idoInput = document.getElementById("serve_park_lat").value;
   var keidoInput = document.getElementById("serve_park_lng").value;

   var m_latlng = new google.maps.LatLng(idoInput,keidoInput);
      var marker = new google.maps.Marker({
       　  position: m_latlng,
          map: map,
      });
   map.addListener( "click", function ( event ) {
      marker.setMap(null);
   });


    map.addListener( "click", function ( event ) {
      // 地図をクリックしたらf.hidden_field :lat,value:"lat"f.hidden_field :lng,value:"lng"のValue値変更
    　document.getElementById("park_lat").value = event.latLng.lat();
    　document.getElementById("park_lng").value = event.latLng.lng();

      // 入力した緯度・経度を取得
      var idoInput = document.getElementById("park_lat").value;
      var keidoInput = document.getElementById("park_lng").value;
      // 緯度・経度をLatLngクラスに変換
      var latLngInput = new google.maps.LatLng(idoInput, keidoInput);

      var m_latlng = new google.maps.LatLng(idoInput,keidoInput);
      var marke = new google.maps.Marker({
       　  position: m_latlng,
          map: map,
      });

      //GoogleMapsAPIジオコーダ
      var geocoder = new google.maps.Geocoder();

      geocoder.geocode(
        {
          latLng: latLngInput
        },
        function(results, status) {
          var address = "";

          if (status == google.maps.GeocoderStatus.OK) {
          //取得が成功した場合

            //住所を取得します。
            address = results[0].formatted_address;

          } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
            alert("住所が見つかりませんでした。");
          } else if (status == google.maps.GeocoderStatus.ERROR) {
            alert("サーバ接続に失敗しました。");
          } else if (status == google.maps.GeocoderStatus.INVALID_REQUEST) {
            alert("リクエストが無効でした。");
          } else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
            alert("リクエストの制限回数を超えました。");
          } else if (status == google.maps.GeocoderStatus.REQUEST_DENIED) {
            alert("サービスが使えない状態でした。");
          } else if (status == google.maps.GeocoderStatus.UNKNOWN_ERROR) {
            alert("原因不明のエラーが発生しました。");
          }

          //住所の結果表示をします。
          document.getElementById('park_addressOutput').value = address;
        　 // 　新しいところをクリックしたら、古いマーカーは消す
        　map.addListener( "click", function ( event ) {
            marke.setMap(null);
          });
        });


        service=new google.maps.places.PlacesService(map);
          var request={
             location: new google.maps.LatLng(idoInput,keidoInput),
             radius:250, /* 指定した座標から半径1000m(1km)以内 */
             types:['shopping_mall'],
          };

        service.search(request, callback);
        function callback(results, status) {
        document.getElementById("vicinity_vicinity_name").value = "";
          if (status==google.maps.places.PlacesServiceStatus.OK && results.length>0){
             for (var i=0; i<results.length; i++) {
                var places=results[i];
                console.log(results[i].name)
                document.getElementById("vicinity_vicinity_name").value += `${results[i].name},`;
             }
          }else{
            alert("このエリアでのスポット情報はありません。");
          }
        };



　  　});
  };
 initMap();
});
 </script>
