<div class="container">
  <button type="button"class="btn btn-info" data-toggle="collapse" data-target="#demo">詳細検索▷</button>
  <div id="demo" class="collapse">
    <%= form_with url: public_parks_path,method: :get do |f| %>
    ▷<%= f.search_field :content,placeholder:"目的地or駐車場名" %><br>
    ▷<%= f.collection_radio_buttons :engine_spec, Park.specs_i18n, :first , :last %><br>
    ▷<%= f.select :address,Park.addresses.keys.map {|k| [I18n.t("enums.park.address.#{k}"), k]},include_blank: true %><br>
    <%= f.submit"検索" %>
    <% end %>
　</div>

    <div id="map" style="width:100%; height:600px"></div>

  <div class="row">
    <div class="col-8">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#collapse1">▷駐車場一覧</a>
            </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
              <table class="table table-striped table-hover">
               <tr>
                 <th style="width: 20%">駐車場名</th>
                 <th style="width: 60%">説明</th>
                 <th style="width: 20%">目的地(商業施設、コンビニ等)</th>
               </tr>
               <% @parks.each do |park| %>
               <tr>
                 <td>
                   <%= link_to public_park_path(park.id) do %>
                     <%= park.name %>
                   <% end %>
                 </td>
                 <td><%= park.description %></td>
                 <td><%= park.purpose %></td>
               </tr>
               <% end %>
              </table>
              <%= paginate @parks %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 offset-1">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" href="#collapse2">▷駐輪場ランキング</a>
            </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
             <table class="table table-striped table-hover">
             <tr>
               <th>順位</th>
               <th>駐車場名</th>
             </tr>
             <% @like_park.each.with_index(@start) do |park, i| %>
             <tr>
               <td><%= i %></td>
               <td>
                 <%= link_to public_park_path(park.id) do %>
                   <%= park.name %>
                 <% end %>
               </td>
             </tr>
             <% end %>
            </table>
            <%= paginate @like_park %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="park_area" value='<%= @park_area %>'>
<input type="hidden" id="place" value='<%= @place %>'>


<script>
var marker = [];
 function initMap() {
   var opts = {
      zoom: 15,
     center: new google.maps.LatLng(33.589815,130.412306),
     restriction: {
		　　latLngBounds: {
		　　	north: 33.600947,
		　　	south: 33.577563,
		　　	west: 130.386021,
		　　	east: 130.440347
	　 },
	　　	strictBounds: true
　　 }
   };
   var map = new google.maps.Map(document.getElementById("map"), opts);

   // 21行目のid=park_areaのValue値を取得
   var date =document.getElementById("park_area").value
   // 文字列っぽい配列を配列にする方法'[[aaa,aaa],[sss,sss],[sss,fff]]'→[aaa,aaa],[sss,sss],[sss,fff]に変換する
   var date = JSON.parse(date)


   for(var i = 0; i < date.length; i ++ ){
  　var latlng = new google.maps.LatLng(date[i][1],date[i][0]);

    var contentStr =
    // バッククォーテーション``で囲む中で${}を使えば式展開できる
    `<a href="/public/parks/${date[i][3]}">${date[i][2]}'</a>`


    // 情報ウインドウを表示させ、駐車場名を表示
      var infowindow = new google.maps.InfoWindow({
        content: contentStr,
        position: latlng
      });
      infowindow.open(map);
    };
  };



 </script>

 <%= javascript_pack_tag 'park/index' %>