<div class="container">
　　<% flash.each do |message_type, messages| %>
        <div class="bg-success p-3 mb-3 text-center"><%= messages %></div>
    <% end %>

    <div class="row">
      <div class="col-3">
        <button type="button"class="btn btn-primary" data-toggle="collapse" data-target="#demo">詳細検索▷</button>
        <div id="demo" class="collapse text-center mb-3 mt-4">
          <%= form_with url: public_parks_path,method: :get do |f| %>
            <%= f.search_field :content,placeholder:"目的地or駐車場名",class:"form-control" %><br>
            <%= f.collection_radio_buttons :engine_specs, Park.specs_i18n, :first , :last %><br>
            <%= f.search_field :address,placeholder:"住所",class:"form-control" %>
            <div class="text-center mt-3">
          　  <%= f.submit"詳細検索開始!!",class:"btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <button type="button"class="btn btn-primary" data-toggle="collapse" data-target="#vicinity_button">最寄り検索▷</button>
        <div id="vicinity_button" class="collapse text-center">
      　   <%= render "public/parks/vicinity_search",vicinity: @vicinity %>
    　　  </div>
      </div>
      <div class="col-3">
         <%= link_to"検索クリア",public_parks_path,class:"btn btn-primary" %>
      </div>
    </div>

    <div id="map" style="width:100%; height:600px"></div>

    <div class="row">
      <div class="col-md-8">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">▷駐車場一覧</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
               <%= render "public/parks/normal_index",parks: @parks %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse2">▷駐輪場ランキング</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
               <%= render "public/parks/runking_index",like_park: @like_park,start: @start %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<input type="hidden" id="park_area" value='<%= @park_area %>'>
<input type="hidden" id="place" value='<%= @place %>'>
<input type="hidden" id="vicinity_place" value='<%= @vicinity_place %>'>

<%= javascript_pack_tag 'park/index' %>
