<div class="container">
  <%= form_with url: public_parks_path,method: :get do |f| %>
    目的地検索<%= f.search_field :content,placeholder:"行きたい目的地で検索" %>
    <%= f.submit"検索" %>
  <% end %>
　<div class="row">
     <div id="map" style="width:100%; height:500px"></div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        <h3>駐車場一覧</h3>
        <table class="table">
         <tr>
           <td>駐車場名</td>
           <td>説明</td>
           <td>目的地(商業施設、コンビニ等)</td>

         </tr>
         <% @parks.each do |park| %>
         <tr>
           <td>
             <%= link_to public_park_path(park.id) do %>
               <%= park.name %>
             <% end %>
           </td>
           <td><%= park.description %></td>
           <td><%= park.purpose %></td>
         </tr>
         <% end %>
        </table>
        <%= paginate @parks %>
      </div>
    </div>

    <div class="col-3 offset-1">
      <h3>駐輪場ランキング</h3>
       <table class="table">
       <tr>
         <td>順位</td>
         <td>駐車場名</td>
       </tr>
       <% @like_park.each.with_index(1) do |park, i| %>
       <tr>
         <td><%= i %></td>
         <td>
           <%= link_to public_park_path(park.id) do %>
             <%= park.name %>
           <% end %>
         </td>
       </tr>
       <% end %>
      </table>

    </div>
  </div>
</div>

<input type="hidden" id="park_area" value='<%= @park_area %>'>



<script>
var marker = [];
 function initMap() {
   var opts = {
    zoom: 12,
    center: new google.maps.LatLng(33.60639,130.41806),
    restriction: {
		　　latLngBounds: {
		　　	north: 33.681563,
		　　	south: 33.555133,
		　　	west: 130.35940,
		　　	east: 130.461512
	　　	},
	　　	strictBounds: false
　　 }
   };
   var map = new google.maps.Map(document.getElementById("map"), opts);
　 map.setMapTypeId('hybrid');
   // 21行目のid=park_areaのValue値を取得
   var date =document.getElementById("park_area").value
   // 文字列っぽい配列を配列にする方法'[[aaa,aaa],[sss,sss],[sss,fff]]'→[aaa,aaa],[sss,sss],[sss,fff]に変換する
   var date = JSON.parse(date)


   for(var i = 0; i < date.length; i ++ ){
  　var latlng = new google.maps.LatLng(date[i][1],date[i][0]);

    var contentStr =
    // バッククォーテーション``で囲む中で${}を使えば式展開できる
    `<a href="/public/parks/${date[i][3]}">${date[i][2]}'</a>`


    // 情報ウインドウを表示させ、駐車場名を表示
    var infowindow = new google.maps.InfoWindow({
     content: contentStr,
     position: latlng
    });
    infowindow.open(map);
  }
 };


 </script>

 <%= javascript_pack_tag 'park/index' %>