<div class="container pb-3">
  <div class="text-center mt-3">
   <input type="text" id="keyword"><button id="search" class="btn btn-info">検索実行</button>
  </div>


  <div id="map" style="width:100%; height:600px"></div>

  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h5 class="font-weight-bold text-center text-danger">見つけた駐輪場の場所をマップ上でクリックしてください</h5>
      <%= form_with model: @park,url: public_parks_path,local: false do |f| %>
      <table class="table">
          <tr><div class="text-center">投稿する画像を選択してください(３枚まで)<br>※一度に複数選択することで、複数画像選択することができます<br>(画像をクリックしてください)</div></tr>
          <tr>

              <div class="my_bike">
                <%= f.label :images,class:"image_label" do %>
                  <%= image_tag('new_park.png',size: "150x150", class: 'avatar1',style: "display: none") %>
                  <%= image_tag('new_park.png',size: "150x150", class: 'avatar4') %>
                <% end %>
                <%= f.label :images,class:"image_label" do %>
                 <%= image_tag('new_park.png',size: "150x150", class: 'avatar2',style: "display: none") %>
                 <%= image_tag('new_park.png',size: "150x150", class: 'avatar5') %>
                <% end %>
                <%= f.label :images,class:"image_label" do %>
                 <%= image_tag('new_park.png',size: "150x150", class: 'avatar3',style: "display: none") %>
                 <%= image_tag('new_park.png',size: "150x150", class: 'avatar6') %>
                <% end %>
              </div>
              <%= f.file_field :images,multiple:true,accept:"image/jpg",class:"uploader" ,style: "display:none" %>
          <tr>
               <td class="text-center align-middle">駐輪場名</td>
               <td><%= f.text_field :name,class:"form-control",placeholder:"駐車場名がわからない場合は(〜市駐車場等)" %></td>
          </tr>
          <tr>
               <td class="text-center align-middle">説明事項</td>
               <td><%= f.text_area :description,class:"form-control",placeholder:"広さ、目的地へのアクセスの良さ等" %></td>
          </tr>
          <tr>
               <td class="text-center align-middle">駐車可能条件</td>
               <td><%= f.collection_radio_buttons :spec, Park.specs_i18n, :first , :last %></td>
          </tr>
          <tr>
               <td class="text-center align-middle">目的地</td>
               <td><%= f.text_field :purpose,class:"form-control",placeholder:"例）キャナルシティ" %></td>
          </tr>
          <tr>
               <td class="text-center align-middle">金額</td>
               <td>
                 <div class="row">
                   <div class="col-5">
                     <%= f.text_field :price,class:"form-control" %>
                   </div>
                   <span>円/</span>
                   <div class="col-4">
                       <%= f.select :parking_time,*[1..24],{include_blank: true},class:"form-control" %>
                   </div>
                   時間
                 </div>
               </td>
          </tr>
           <%= f.hidden_field :lat,value:"lat" %>
           <%= f.hidden_field :lng,value:"lng" %>
           <%= f.hidden_field :addressOutput,value:"address" %>
           <%= fields_for :vicinity do |f| %>
              <%= f.hidden_field :vicinity_name,value:"vicinity_name" %>
           <% end %>
        </table>
        <div id="parks-error">
            <%= render 'layouts/error' %>
        </div>
        <p class="text-center"><%= f.submit"送信",class:"btn btn-success" %></p>
      <% end %>
    </div>
  </div>

</div>
<!--コントローラから受け取った値をhidden形式でviewに渡す。-->
<input type="hidden" id="park_areas" value="<%= @park_areas %>">
<!--投稿ずみの場所にマーカーを設置する為に必要な情報-->
<input type="hidden" id="park_area" value='<%= @park_area %>'>


<%= javascript_pack_tag 'park/new' %>
