<div class="container pb-3 mt-3">

  <% if flash[:notice] %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-danger">
      <%= flash[:alert] %>
    </div>
  <% end %>

    <div class="contena">
      <div class="slider-image">
        <%= image_tag 'barn-g3a952b9bf_1920.jpg',class:"active_img top_img" %>
        <%= image_tag 'motorcycle-g2b807d882_1920.jpg',class:"top_img" %>
        <%= image_tag 'motorcycles-g4bee46728_1920.jpg',class:"top_img" %>
        <div class="top_text text-white font-weight-bold">
          <p class="h3 text-center">駐車場検索してもチャリのみ、、行ってみると原付だけ、、、<br>
             イライラすることよくありますよね！！<br>
             そんな時の為のサイトです<br>
             <span class="h2 text-warning font-weight-bold">※福岡市内限定</span>
          </p>
        </div>
      </div>
    </div>

    <div class="mt-1">
      <div class="text-center"><%= image_tag 'sample_top.png',width: '80%', height: '80%' %></div>
      <div class="top_images">
        <% if @customer.my_bike_images.attached? %>
          <% @customer.my_bike_images.each do |bike| %>
            <%= link_to public_customer_path(@customer.id) do %>
              <%= image_tag(bike,width: 150,height: 150) %>
            <% end %>
          <% end %>
            <% if @customer.my_bike_images.length == 1 %>

                <%= link_to public_customer_path(@customer.id) do %>
                  <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar2') %>
                <% end %>

              <%= link_to public_customer_path(@customer.id) do %>
              　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
              <% end %>

            <% elsif @customer.my_bike_images.length == 2 %>
              <%= link_to public_customer_path(@customer.id) do %>
                <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
              <% end %>
            <% end %>
        <% else %>
          <%= link_to public_customer_path(@customer.id) do %>
            <%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar1') %>
          <% end %>

          <%= link_to public_customer_path(@customer.id) do %>
          　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar2') %>
          <% end %>

          <%= link_to public_customer_path(@customer.id) do %>
          　<%= image_tag('girl-gcf2ba2e1b_1280.png',size: "150x150", class: 'avatar3') %>
          <% end %>

        <% end %>
      </div>
    </div>
</div>

<%= javascript_pack_tag 'home' %>




