<div class="container">
  <%= notice %>
    <div class="contena">
      <div class="slider-image">
        <%= image_tag 'barn-g3a952b9bf_1920.jpg',class:"active_img top_img" %>
        <%= image_tag 'motorcycle-g2b807d882_1920.jpg',class:"top_img" %>
        <%= image_tag 'motorcycles-g4bee46728_1920.jpg',class:"top_img" %>
        <div class="top_text text-white font-weight-bold">
          <p class="h3 text-center">駐車場検索してもチャリのみ、、行ってみると原付だけ、、、<br>
             イライラすることよくありますよね！！<br>
             そんな時の為のサイトです<br>
             <span class="h2 text-warning font-weight-bold">※福岡市内限定</span>
          </p>
        </div>
      </div>

    </div>
    <%= javascript_pack_tag "home" %>
</div>



