<!DOCTYPE html>
<html>
  <head>
    <title>BikeParking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['KEY'] %>&language=ja&libraries=places" >
    </script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="content">
    <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
            <%= link_to root_path,class:"navbar-brand" do %>
              <%= image_tag "cooltext410363261554561.png",size:"300x40" %>
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-center">
                      <% if customer_signed_in? %>
                        <li class="nav-item active"><%= link_to destroy_customer_session_path,method: :delete, class:"nav-link active menu-list" do %><i class="fas fa-sign-out-alt fa-fw"></i><br>ログアウト<% end %></li>
                        <li class="nav-item"><%= link_to new_public_park_path, class:"nav-link" do %><i class="fas fa-plus fa-fw"></i><br>駐車場投稿<% end %></li>
                        <li class="nav-item"><%= link_to public_parks_path, class:"nav-link active menu-list" do %><i class="fas fa-parking fa-fw"></i><br>駐車場一覧<% end %></li>
                        <li class="nav-item"><%= link_to public_customers_path, class:"nav-link" do %><i class="fas fa-users fa-fw"></i><br>ユーザー一覧<% end %></li>
                        <li class="nav-item"><%= link_to public_customer_path(current_customer.id), class:"nav-link" do %><i class="fas fa-user fa-fw"></i><br>マイページ<% end %></li>
                        <li class="nav-item"><%= link_to public_notifications_path, class:"nav-link" do %><i class="far fa-bell fa-fw"></i><br>通知<% end %></li>
                      <% end %>
                      <% unless customer_signed_in? %>
                        <% unless  admin_signed_in? %>
                         <li class="nav-item"><%= link_to"新規登録",new_customer_registration_path, class:"nav-link" %></li>
                         <li class="nav-item"><%= link_to"サインイン",new_customer_session_path, class:"nav-link" %></li>
                         <li class="nav-item"><%= link_to"駐車場一覧",public_parks_path, class:"nav-link" %></li>
                         <li class="nav-item"><%= link_to"ゲストログイン",customers_guest_sign_in_path,method: :post, class:"nav-link" %></li>
                         </li>
                        <% end %>
                      <% end %>
                      <% if admin_signed_in? %>
                        <li class="nav-item"><%= link_to"会員一覧",admin_customers_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= link_to"投稿一覧",admin_parks_path, class:"nav-link" %></li>
                        <li class="nav-item"><%= link_to"ログアウト",destroy_admin_session_path,method: :delete, class:"nav-link" %></li>
                      <% end %>
                    </ul>
            </div>
          </nav>
        </header>
        <main>
           <%= notice %>
           <%= yield %>

        </main>
      </div>
    <footer>
        <div class='bg-info pb-3 pt-2'>
      	   <div class='mx-auto'>
          		<div class="text-center">
          		  <i class="fab fa-twitter mr-3 fa-2x"></i>
            		<i class="fab fa-facebook mr-3 fa-2x"></i>
            		<i class="fab fa-instagram mr-3 fa-2x"></i>
            		<!--<i class="fa-brands fa-instagram mr-3 fa-2x"></i>-->
          		</div>
          		<div class="mt-1 text-center">
          		  <p><i class="fas fa-phone fa-fw"></i>xxx-xxxx-xxx</p>
            	  <p><i class="fas fa-location-arrow fa-fw"></i>〇〇県〇〇市〇〇町〇丁目</p>
              	<p><i class="fas fa-envelope fa-fw"></i>portofollio@mail.com</p>
              	<p><%= link_to"お問合せ",new_public_contact_path,class:"btn btn-success" %></p>

          	  </div>
            </div>
        </div>
    </footer>
    <!--yieldより上に以下記述するとリロードした際に予期せぬ動作をすることがある-->

  </body>
</html>
