<!DOCTYPE html>
<html>
  <head>
    <title>BikeParking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info sticky-top">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item active">
                <%= link_to root_path,class:"navbar-brand" do %>
                 <%= image_tag "cooltext410363261554561.png",size:"400x40" %>
              <% end %>
            </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item mr-5 "><%= link_to"ログアウト",destroy_customer_session_path,method: :delete, class:"nav-link active" %></li>
                <li class="nav-item mr-5"><%= link_to"駐車場投稿",new_public_park_path, class:"nav-link active" %></li>
                <li class="nav-item mr-5"><%= link_to"駐車場一覧",public_parks_path, class:"nav-link active" %></li>
                <li class="nav-item mr-5"><%= link_to"ユーザー一覧",public_customers_path, class:"nav-link active" %></li>
                <li class="nav-item mr-5"><%= link_to"マイページ",public_customer_path(current_customer.id), class:"nav-link active" %></li>
                <li class="nav-item mr-5"><%= link_to"通知",public_notifications_path, class:"nav-link active" %></li>
              <% end %>
              <% unless customer_signed_in? %>
                <% unless  admin_signed_in? %>
                 <li class="nav-item"><%= link_to"新規登録",new_customer_registration_path, class:"nav-link active" %></li>
                 <li class="nav-item"><%= link_to"サインイン",new_customer_session_path, class:"nav-link active" %></li>
                 <li class="nav-item mr-5"><%= link_to"駐車場一覧",public_parks_path, class:"nav-link active" %></li>
                 <li class="nav-item mr-5"><%= link_to"ゲストログイン",customers_guest_sign_in_path,method: :post, class:"nav-link active" %></li>
                <% end %>
              <% end %>
              <% if admin_signed_in? %>
                <li class="nav-item"><%= link_to"会員一覧",admin_customers_path, class:"nav-link active" %></li>
                <li class="nav-item"><%= link_to"投稿一覧",admin_parks_path, class:"nav-link active" %></li>
                <li class="nav-item"><%= link_to"ログアウト",destroy_admin_session_path,method: :delete, class:"nav-link active" %></li>
              <% end %>

            </ul>
        </div>
    </nav>
    <main>

     <%= yield %>
    </main>
    <footer>
      <div class='bg-info'>
    	   <div class='mx-auto'>
        		<div class="text-center">
        		  <i class="fa-brands fa-twitter mr-3 fa-2x"></i>
          		<i class="fa-brands fa-facebook-f mr-3 fa-2x"></i>
          		<i class="fa-brands fa-instagram mr-3 fa-2x"></i>
        		</div>
        		<div class="mt-3 text-center">
        		  <p><i class="fa-solid fa-phone fa-fw"></i>xxx-xxxx-xxx</p>
          	  <p><i class="fa-solid fa-location-dot fa-fw"></i>〇〇県〇〇市〇〇町〇丁目</p>
            	<p><i class="fa-solid fa-envelope fa-fw"></i>naganocake@mail.com</p>
            	<%= link_to"お問合せ",new_public_contact_path,class:"btn btn-success" %>

        	  </div>
    </div>
  </div>
    </footer>
    <!--yieldより上に以下記述するとリロードした際に予期せぬ動作をすることがある-->
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['KEY'] %>&callback=initMap">
    </script>
  </body>
</html>
